<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>404 Not Found</title>
</head>
<body>

<p><h1 class="text-center">Page not found!</h1></p>

<img class="w-50 rounded mx-auto d-block" src="{% static 'main/images/empty.png' %}" alt="Empty image">


</body>
</html>